@font-face {
    font-family: "Bluu Next";
    src: url(../fonts/bluunext.woff2), url(../fonts/bluunext.woff);
}

body {
	font-family: 'Bluu Next', 'Times New Roman', Times, serif;
	font-size: 24px;
	line-height: 1.25;
	
    background-color: #edc7a9;
    background-image: linear-gradient(180deg, #ffffff, rgba(255, 255, 255, 0));
	color: #000000;
    height: 100vh;

    transition: background-color 0.5s;
}

h1 {
    font-size: 24px;
    margin: 10px 0;
}

h2 {
    font-size: 10vmin;
}

section {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60%;
    text-align: center;
}

section a {
    color: #000000;
}

section div.circle {
    width: 20px;
    height: 20px;
    background-color: #3e78ed;
    border-radius: 50%;
    display: inline-block;

    transition: background-color 0.5s;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer img {
    margin: 0 10px;
    cursor: pointer;
}